@import "style.css";
/*---Editor--*/
.wssffg-button-icon-control__wrapper {
	display: flex;
	justify-content: space-between;
}
.wssffg-button-icon-control__wrapper span {
	display: none;
}
.wssffg-button-icon-control__wrapper button.is-default {
	padding: 0 4px;
}
.wssffg-advanced-button-group_align button > svg {
	pointer-events: none;
}
.apc-icon-btn {
	padding: 0;
	color: inherit;
	margin-left: 10px;
}
.wssffg-lower-layer1 {
	margin-top: -12px;
	margin-left: 10px;
}
.is-opened > h2.components-panel__body-title {
	margin-bottom: 12px;
}
.components-base-control_outer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.wssffg-advanced-button-group_unit {
	margin-bottom: 4px;
}
.wssffg-advanced-button-group_unit .components-button {
	padding: 0.4em;
	color: #abb8c3;
	text-decoration: none;
}
.wssffg-advanced-button-group_unit .components-button.is-pressed,
.wssffg-advanced-button-group_align .components-button.is-pressed {
	color: #333;
	text-decoration: underline;
}
.wssffg-advanced-popover-control .components-popover__content {
	padding: 16px;
}
.wssffg-advanced-popover-control
	.components-popover__content
	.components-base-control {
	margin-bottom: 16px;
}
.wssffg-sidebar-tab-panel {
	margin-top: 10px;
}
.wssffg-sidebar-tab-panel .components-tab-panel__tabs {
	display: flex;
	justify-content: space-around;
	min-height: 70px;
	margin: 0;
	border-top: 1px solid #e2e4e7;
}
.wssffg-sidebar-tab-panel .components-tab-panel__tabs > button {
	outline: none !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80px;
	padding: 0 !important;
	flex: 1;
	margin: 0 !important;
}
.wssffg-sidebar-tab-panel .components-tab-panel__tabs > button svg {
	margin: 5px;
	height: 20px;
	color: #555d66;
}
.wssffg-sidebar-tab-panel .components-tab-panel__tabs > button.is-active {
	background: #fafafa;
	background: linear-gradient(180deg, #fafafa, #fff 70%);
	border-bottom: 0;
	box-shadow: inset 0 -3px #0085ba !important;
}
/*Backward Comapitbility under 5.4*/
.components-toolbar__control.components-button:not(:disabled).is-pressed > svg {
	outline: none;
	color: #fff;
	box-shadow: none;
	background: #555d66;
}
