/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp2s2fg table {
	margin: 0 0 1rem;
	border-collapse: collapse;
	width: 100%;
	display: table;
	border-spacing: 2px;
	border-color: grey;
}
.wp2s2fg tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
.wp2s2fg tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
.wp2s2fg table td, .wp2s2fg table th {
	padding: 0.5em;
	border: 1px solid #767676;
	word-break: break-all;
}
.wp2s2fg td {
	display: table-cell;
	vertical-align: inherit;
}
